{% extends "layout.html" %}

{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>CryptoGuru Investment Analyzer</p>
        <p><a class="btn btn-danger btn-lg" href="/" role="button">Reset &raquo;</a></p>
      </div>
    </div>
 

    <div class="container">
        
          <!-- CURRENCY SELECTION -->
          <form method="POST" action="">
          <select name="currency" multiple="multiple" class="selectpicker form-control">
            {% for currency in currencies %}
              <option value="{{ currency }}">{{ currency }}</option>
            {% endfor %}
          </select>
          

          <!-- DATE SELECTION -->
          <label for="startDate">Starting Date</label><input type="date" id="startDate" name="startDate" value="2016-01-01"/>
          <label for="endDate">Ending Date</label><input type="date" id="endDate" name="endDate" value="{{ cur_date }}"/>

     
          <!-- RANGE SELECTION -->
          <!-- Keep around for selecting high/low limits -->
          <!--input type="range" name="startYear" min="2000" max="{{ max_y }}" step="1" value="2016" onchange="showYearValue(this.value)">
          <h4>
            <span id="startYearDisplay">2016</span>
          </h4>
          <input type="range" name="startMonth" min="1" max="12" step="1" value="1" onchange="showMonthValue(this.value)">
          <h4>
            <span id="startMonthDisplay">1</span>
          </h4>
          <script type="text/javascript">
            function showYearValue(newValue)
            {
              document.getElementById("startYearDisplay").innerHTML=newValue;
            }
            function showMonthValue(newValue)
            {
              document.getElementById("startMonthDisplay").innerHTML=newValue;
            }
          </script-->


          <!-- NORMALIZE CHECKBOX -->
          <div>
            <input type="checkbox" id="normalizeCheck" name="normalize" value=True>
              <label for="normalizeCheck">
                <h3>Normalize data</h3>
              </label>
          </div>

          <!-- ROLLING MEAN PLOT CHECKBOX -->
          <div>
            <input type="checkbox" id="rollingMeanCheck" name="rollingMean" value=True>
              <label for="rollingMeanCheck">
                <h3>Plot rolling mean</h3>
              </label>
          </div>
          <!-- ADD WINDOW SIZE FOR ROLLING MEAN PLOT CHECKBOX -->
          <!-- ADD RESTRICTION THAT ONLY ONE CURRENCY CAN BE SELECTED -->
          <!-- need to use javascript to enable/disable attribute -->


        <!-- GRAPH BUTTON -->
        <input type="submit" value="Graph" class="btn btn-default">

        </form>



        {% if result %}
          <img src="data:image/png;base64,{{ result }}" width="500">
        {% endif %}


      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Header</h2>
          <p>TYPE HERE. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>Header</h2>
          <p>TYPE HERE</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Header</h2>
          <p>TYPE HERE</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Header</h2>
          <p>TYPE HERE</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Header</h2>
          <p>TYPE HERE</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

{% endblock %}
