/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0px;
}

/*General*/

.btn-lg {
	font-size: 36px;
}

ul.nav, .jumbotron h1 {
	font-family: 'Arvo', courier, serif;
}


.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one 🙂       */
  display: flex;
  align-items: center;
  vertical-align: middle;
}

/*Navbar*/

.navbar {
	background-color: darkred;
	margin: 0px;
	padding-top: 10px;
}

ul.nav {
	font-size: 20px;
	background-color: darkred;
}

.navbar-brand {
	color: lightgoldenrodyellow !important;
	font-size: 36px;
	font-stretch: 100px;
	font-family: 'Arvo', courier, serif;
}

.navbar-header img {
	height: 50px; 
	width: 50px; 
	padding-bottom: 5px;
}

.navbar-nav a {
	color: lightgoldenrodyellow !important;
}

/*DropDown*/

.input-group p {
	margin: 0px;
	display: inline-block;
	color: lightgoldenrodyellow !important;
}

.input-group {
	text-align: center !important;
}

.dropdown-menu {
	background-color: darkred;
	width: 400px;
}

.dropdown-object li {
	height: 40px;
}

.dropdown-object-button li {
	height: 40px;
	padding-top: 5px;
	position: relative;
}

/*Carousel*/

.carousel-inner {
	background-image: url('../images/BitCoin.jpg');
	background-size: cover;
	height: 500px;
	top: 0;
}

.carousel-inner img {
	padding-bottom: 100px;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 25px;
	-webkit-filter: drop-shadow(20px 20px 20px #222);
	width: 100%;
}

.carousel-inner p {
	text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #320000;
  text-shadow: 0px 0px 5px lightgoldenrodyellow;
}

.carousel-inner h2 {
	text-align: center !important;
  font-weight: bold;
  color: #320000;
  text-shadow: 0px 0px 5px lightgoldenrodyellow;
}

.share-story a {
  text-align: center !important;
  text-shadow: 0px 0px 0px green;
}

/*Twitter*/

.twitter {
	position: absolute;
}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,

blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

/*Who We Are*/

.jumbotron {
	text-align: center;
	background-image: url('../images/sea.jpeg');
	background-size: cover;
	color: white;
	margin-bottom: 0px;
}

.personal-photo {
	padding: 20px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
}

.jumbotron h1 {
	margin-top: 0px;
	margin-bottom: 50px;
}

.jumbotron p {
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 50px;
}

.platitudes p {
	font-weight: bold !important;
	font-size: 18px;
	text-align: center; 
	text-shadow: 5px 5px 5px black;
}

.jumbotron h1 {
	text-shadow: 5px 5px 5px black !important;
}

.jumbotron h2 {
  text-shadow: 5px 5px 5px black !important;
}

.bio img {
	-webkit-filter: drop-shadow(5px 5px 5px #222);
}

/*Footer*/


.resources {
	background-color: darkgrey;
	text-align: center;
}

.footer {
	background-color: darkred;
	color: lightgoldenrodyellow;
}

.jumbotron-investment {
  text-align: center;
  background-image: url('../images/investment_background.jpeg');
  background-size: cover;
  color: white;
  margin-bottom: 0px;
  text-shadow: 5px 5px 5px black;
}

.investment-container {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom, rgba(255,255,255,.1) 0%,rgba(255,255,255,1) 100%), url('../images/BitCoin3.jpg');
  background-size: cover;
}


.investment-container h1 {
  font-family: 'Arvo', courier, serif;
  text-align: center;
  color: black;
  font-weight: bold;
}

.date_selection label {
  margin-right: 10px;
  font-family: 'Arvo', courier, serif;
  font-size: medium;
  font-weight: bold;
}

.date_selection input {
  width: auto;
  margin-bottom: 10px;
}

.features {
  display: flex;
  flex-direction: row;
  font-family: 'Arvo', courier, serif;
  font-size: medium;
  font-weight: bold;
}

.features input {
  margin-right: 5px;
  font-family: 'Arvo', courier, serif;
}

.features label {
  margin-right: 10px;
  font-family: 'Arvo', courier, serif;
  font-size: medium;
  font-weight: bold;
}

.checkboxes {
  display: flex;
  flex-direction: row;
  font-family: 'Arvo', courier, serif;
  font-weight: bold;
  font-size: medium;
  margin-bottom: 20px;
}

.checkboxes input {
  margin-right: 10px;
}

.current-select {
  display: flex;
  flex-direction: row;
  font-family: 'Arvo', courier, serif;
  font-weight: bold;
  font-size: medium;
}

.current-select label{
  font-family: 'Arvo', courier, serif;
  font-weight: bold;
  font-size: large;
  
}

.currency-select select {
  width: 250px;
  height: 150px;
  margin-bottom: .1cm;
}

