{% extends "layout.html" %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron-investment" >
  <div class="container">
    <h1>CryptoGuru Investment Analyzer</h1>
    <h2>Invest like a Guru</h2>
  </div>
</div>
 
<div class="investment-container" style="display: flex; flex-direction: row;">

  <!-- ~~~~~~~~~~~~~~~~~~ -->
  <!-- LEFT PANEL -->
  <!-- ~~~~~~~~~~~~~~~~~~ -->
  <div class="col-md-1">
  </div>
  <div class="col-md-6" id="left-panel">
    <h1>Historical Data</h1>
    <img src="data:image/png;base64,{{ result }}" width="auto" style="border:4px solid black; margin-bottom: 5px">
    <form method="post" action="">

      <!-- ~~~~~~~~~~~~~~~~~~ -->
      <!-- DATE SELECTION -->
      <!-- ~~~~~~~~~~~~~~~~~~ -->
      <div id="dates" class="date_selection" width="auto"> 
        <label for="startDate">
          Starting Date
        </label>
        <input type="date" id="startDate" name="startDate" value="{{ start_date }}">
        <label for="endDate" style="margin-right:5px; margin-left: 120px;">
          Ending Date
        </label>
        <input type="date" id="endDate" name="endDate" value="{{ end_date }}">
      </div>
     
      <!-- ~~~~~~~~~~~~~~~~~~ -->
      <!-- AVAILABLE FEATURES -->
      <!-- ~~~~~~~~~~~~~~~~~~ -->
      <div id="features" class="features">
        <label style="margin-right: 30px;">
          Currency feature:
        </label>

        {% if feature == "OPEN" %}
          <input type="radio" name="features" id="open" value="OPEN" checked>
        {% else %}
          <input type="radio" name="features" id="open" value="OPEN">
        {% endif %}
        <label for="open">
          Open
        </label>

        {% if feature == "CLOSE" %}
          <input type="radio" name="features" id="close" value="CLOSE" checked>
        {% else %}
          <input type="radio" name="features" id="close" value="CLOSE">
        {% endif %}
        <label for="close">
          Close
        </label>

        {% if feature == "HIGH" %}
          <input type="radio" name="features" id="high" value="HIGH" checked>
        {% else %}
          <input type="radio" name="features" id="high" value="HIGH">
        {% endif %}
        <label for="high">
          High
        </label>
  
  
        {% if feature == "LOW" %}
          <input type="radio" name="features" id="low" value="LOW" checked>
        {% else %}
          <input type="radio" name="features" id="low" value="LOW">
        {% endif %}
        <label for="low">
          Low
        </label>
  
  
       {% if feature == "VOL" %}
         <input type="radio" name="features" id="volume" value="VOL" checked>
       {% else %}
         <input type="radio" name="features" id="volume" value="VOL">
       {% endif %}
       <label for="volume">
         Volume
       </label>
      </div>
  
      <!-- ~~~~~~~~~~~~~~~~~~ -->
      <!--     CHECKBOXES     -->
      <!-- ~~~~~~~~~~~~~~~~~~ -->
      <div id="check_boxes" class="checkboxes">
    
        <!-- ~~~~~~~~~~~~~~~~~~ -->
        <!-- NORMALIZE CHECKBOX -->
        <!-- ~~~~~~~~~~~~~~~~~~ -->
        {% if norm %}
          <input type="checkbox" id="normalizeCheck" name="normalize" value=True checked>
        {% else %}
          <input type="checkbox" id="normalizeCheck" name="normalize" value=True>
        {% endif %}
        <label for="normalizeCheck" style="margin-right: 50px;">
          Normalize Data
        </label>
  
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- ROLLING MEAN PLOT CHECKBOX -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        {% if rolling_mean %}
          <input type="checkbox" id="rollingMeanCheck" name="rollingMean" value=True checked class="cb">
        {% else %}
          <input type="checkbox" id="rollingMeanCheck" name="rollingMean" value=True class="cb">
        {% endif %}
        <label for="rollingMeanCheck" style="margin-right:20px;">
          Plot rolling mean
        </label>
  
        <!-- Range selection for rolling mean window -->
          <input type="range" name="rm_window" min="1" max="200" step="1" value="{{ rm_window }}" onchange="showWindowValue(this.value)" style="width: auto;">
        <label id="rm_window_display">{{ rm_window }}</label>
        <script type="text/javascript">
          function showWindowValue(newValue)
          {
            document.getElementById("rm_window_display").innerHTML=newValue;
          }
        </script>
      </div>
  
      <!-- ~~~~~~~~~~~~~~~~~~ -->
      <!-- CURRENCY SELECTION -->
      <!-- ~~~~~~~~~~~~~~~~~~ -->
      <div class="currency-select">

        <div>
          <label style="margin-right: 260px;">Available Currencies</label>
          <label>Selected Currencies</label>
        </div>

        <div>
          <select name="currency" multiple="multiple" style="margin-right: 150px;">
            <!-- currencies available to plot -->
            {% for currency in currencies %}
              {% if currency in select %}
                <option selected>{{ currency }}</option>
              {% else %}
                <option value="{{ currency }}">{{ currency }}</option>
              {% endif %}
            {% endfor %}
          </select>

          <select name="selected_currencies" multiple="multiple">
            <!-- currencies available to plot -->
            {% for currency in select %}
              <option value="{{ currency }}">{{ currency }}</option>
             {% endfor %}
          </select>
        </div>
             <!-- ADD RESTRICTION THAT ONLY ONE CURRENCY CAN BE SELECTED -->
             <!-- need to use javascript to enable/disable attribute -->

             <!-- DOUBLE CLICK SHOULD MOVE AVAILABLE CURRENCY TO SELECTED CURRENCY -->
      </div>  


      <!-- ~~~~~~~~~~~~ -->
      <!-- GRAPH BUTTON/RESET BUTTON -->
      <!-- ~~~~~~~~~~~~ -->
      <input type="submit" class="btn btn-default btn-lg" value="Graph" style="margin-right:10%; background-color: green; color: white;">
      <a class="btn btn-default btn-lg" href="/investment xx" role="button" style="margin-left:25%; background-color: red; color: white;">Reset</a>
    </form>
  </div> <!-- End of left panel -->
 
  <div class="col-md-2">
  </div>
  <!-- RIGHT PANEL -->
  <div class="col-md-4" id="right-panel">
    <h1>Investment Model</h1>
    <h2>CHECK BACK SOON TO START INVESTING<h2>
  </div> <!-- /container -->
  <div class="col-md-1">
  </div>

</div> <!-- /container -->



<footer>
  <p>&copy; 2016 Company, Inc.</p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

{% endblock %}
