{% extends "layout.html" %}

{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-image: url(static/images/investment_background.jpeg)">
      <div class="container">
        <h1>CryptoGuru Investment Analyzer</h1>
        <h2>Invest like a Guru</h2>
      </div>
    </div>
 

    <div class="container">
        <img src="data:image/png;base64,{{ result }}" width="600">
        <form method="post" action="">


          

          <!-- ~~~~~~~~~~~~~~~~~~ -->
          <!-- DATE SELECTION -->
          <!-- ~~~~~~~~~~~~~~~~~~ -->
          <div id="dates"> 
            <label for="startDate" style="margin-right:10px;">Starting Date</label><input type="date" id="startDate" name="startDate" value="{{ start_date }}" style="margin-right:100px;">
            <label for="endDate" style="margin-right:10px;">Ending Date</label><input type="date" id="endDate" name="endDate" value="{{ end_date }}" style="margin-bottom:10px;">
          </div>
     
          <!-- ~~~~~~~~~~~~~~~~~~ -->
          <!-- AVAILABLE FEATURES -->
          <!-- ~~~~~~~~~~~~~~~~~~ -->
          <div id="features", style="display: flex; flex-direction: row;">
            <label style="margin-right: 30px;">
              Currency feature:
            </label>

            {% if feature == "OPEN" %}
              <input type="radio" name="features" id="open" value="OPEN" checked style="margin-right: 5px;">
            {% else %}
              <input type="radio" name="features" id="open" value="OPEN" style="margin-right: 5px;">
            {% endif %}
            <label for="open" style="margin-right: 10px;">
              Open
            </label>

            {% if feature == "CLOSE" %}
              <input type="radio" name="features" id="close" value="CLOSE" checked style="margin-right: 5px;">
            {% else %}
              <input type="radio" name="features" id="close" value="CLOSE" style="margin-right: 5px;">
            {% endif %}
            <label for="close" style="margin-right: 10px;">
              Close
            </label>

            {% if feature == "HIGH" %}
              <input type="radio" name="features" id="high" value="HIGH" checked style="margin-right: 5px;">
            {% else %}
              <input type="radio" name="features" id="high" value="HIGH" style="margin-right: 5px;">
            {% endif %}
            <label for="high" style="margin-right: 10px;">
              High
            </label>


            {% if feature == "LOW" %}
              <input type="radio" name="features" id="low" value="LOW" checked style="margin-right: 5px;">
            {% else %}
              <input type="radio" name="features" id="low" value="LOW" style="margin-right: 5px;">
            {% endif %}
            <label for="low" style="margin-right: 10px;">
              Low
            </label>


            {% if feature == "VOL" %}
              <input type="radio" name="features" id="volume" value="VOL" style="margin-right: 5px;">
            {% else %}
              <input type="radio" name="features" id="volume" value="VOL" style="margin-right: 5px;">
            {% endif %}
            <label for="volume" style="margin-right: 10px;">
              Volume
            </label>
          </div>

          <!-- ~~~~~~~~~~~~~~~~~~ -->
          <!-- NORMALIZE CHECKBOX -->
          <!-- ~~~~~~~~~~~~~~~~~~ -->
          <div id="check_boxes" style="display: flex; flex-direction: row;">
            {% if norm %}
              <input type="checkbox" id="normalizeCheck" name="normalize" value=True checked style="margin-right:10px;">
            {% else %}
              <input type="checkbox" id="normalizeCheck" name="normalize" value=True style="margin-right:10px;">
            {% endif %}
              <label for="normalizeCheck" style="margin-right: 100px;">
                Normalize data
              </label>

          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- ROLLING MEAN PLOT CHECKBOX -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            {% if rolling_mean %}
              <input type="checkbox" id="rollingMeanCheck" name="rollingMean" value=True checked style="margin-right:10px;">
            {% else %}
              <input type="checkbox" id="rollingMeanCheck" name="rollingMean" value=True style="margin-right:10px;">
            {% endif %}
              <label for="rollingMeanCheck" style="margin-right:20px;">
               Plot rolling mean
              </label>

            <!-- Range selection for rolling mean window -->
            <input type="range" name="rm_window" min="1" max="200" step="1" value="{{ rm_window }}" onchange="showWindowValue(this.value)" style="width: 200px;">
              <label id="rm_window_display">{{ rm_window }}</label>
              <script type="text/javascript">
                function showWindowValue(newValue)
                {
                document.getElementById("rm_window_display").innerHTML=newValue;
                }
              </script>
          </div>

        <!-- ~~~~~~~~~~~~~~~~~~ -->
        <!-- CURRENCY SELECTION -->
        <!-- ~~~~~~~~~~~~~~~~~~ -->
          <h3>Available Currencies</h3>
          <select name="currency" multiple="multiple" class="selectpicker form-control" style="width: 475px; height: 150px; margin-bottom: .1cm;">
            <!-- currencies available to plot -->
            {% for currency in currencies %}
              {% if currency in select %}
                <option selected>{{ currency }}</option>
              {% else %}
                <option value="{{ currency }}">{{ currency }}</option>
              {% endif %}
            {% endfor %}
          </select>

          <!-- ADD RESTRICTION THAT ONLY ONE CURRENCY CAN BE SELECTED -->
          <!-- need to use javascript to enable/disable attribute -->

        <!-- ~~~~~~~~~~~~ -->
        <!-- GRAPH BUTTON/RESET BUTTON -->
        <!-- ~~~~~~~~~~~~ -->
        <input type="submit" class="btn btn-default btn-lg" value="Graph" style="margin-right:10px;">
        <a class="btn btn-default btn-lg" href="/investment" role="button">Reset</a>
        </form>






      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

{% endblock %}
