

{% extends "layout.html" %}

{% block content %}

  
  <div class="crypto">
    <h2>Apply ML Algorithms to Current Trading Data!</h2>  
    <div class="row">  
      <div class="col-md-6">
        <h3>
          Today's Trends
        </h3>
        <!-- From Tableau API, maintaining style formatting, chart 1 -->
        <div class='chart-left'>
          <img src="data:image/png;base64,{{ fig_left }}" style="padding: 30px; height: 450px; padding-top: 0px;">
        </div>  
      </div>
      <div class="col-md-6">
        <h3>
          Test an Algorithm
        </h3>
        <div class='chart-right'>
          <img src="data:image/png;base64,{{ fig_right }}" style="padding: 30px; height: 450px; padding-top: 0px">
        </div> 
      </div>
    </div>
    <form method="POST">
      <div class="row">
        <div class="col-md-2" style="text-align: center;">
          <select name= "coin" method="GET" action="/">
            {% for coin in coins %}
            <option value= "{{coin}}" SELECTED>{{coin}}</option>"
            {% endfor %}
          </select>
        </div>
        <div class="col-md-2" style="text-align: center;">
          <input type="range" min="1" max="100" value="30" step="1" class="slider1" id="days_out" name="days_out">
          <p>Days to Project: <span id="demo5"></span></p>
        </div>
        <div class="col-md-2" style="text-align: center">
          <select name= "alg" method="GET" action="/">
            {% for alg in algs %}
            <option value= "{{alg}}" SELECTED>{{alg}}</option>"
            {% endfor %}
          </select>
        </div>
        <div class="col-md-6">
          <p style="text-align: center; font-size: 16px; font-style: italic;">Accuracy : {{ accuracy }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-2" style="text-align: center;">
          <input type="submit" class="btn btn-default" value="Submit" style="background-color: maroon; color: white">
        </div>
      </div>
    </form>
  </div>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" id="who-we-are">
    <div class="bio">
      <div class="container">
        <h1>The BlockHeads</h1>
        <div class="col-md-1">
        </div> 
        <div class="col-md-4">
          <div class="personal-photo">
            <img src="{{ url_for('static', filename='images/john.png') }}" height="200" width="200">
          </div>
          <h2>John Hall</h2>
        </div> 
        <div class="col-md-2">
        </div> 
        <div class="col-md-4"> 
          <div class="personal-photo"> 
            <img src="{{ url_for('static', filename='images/brian.png') }}" height="200" width="200">
          </div>
          <h2>Brian Heath</h2>
        </div>                
        <div class="col-md-1">
        </div>
      </div>
      <div class="platitudes">
        <br>
        <br>
        <br>
        <p>
          The world of cryptocurrencies introduces new trading opportunities to both the casual investor and the active day trader. We believe in demystifying the technical nuances of trading these currencies, and with our tool we hope to show that machine learning algorithms can help guide your trading strategy.
        </p>
        <br>
        <p>
          To use our tool, select a currency and a machine learning algorithm. You will be able to try Linear Regression, Bayesian Ridge, and Lars. The features we use are closing price, the daily trading range as a percent of price, the high/low change, and volume.
        </p>
      </div>
    </div>
  </div>

  <div class="resources">
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>CoinBase</h2>
          <p>Coinbase provides and secure and simple interface to begin buying cryptocurrencies. You can transfer money with your bank account or with a credit card.</p>
          <p><a class="btn btn-default" href="https://www.coinbase.com" role="button">Visit Coinbase &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>GDAX</h2>
          <p>GDAX is the Coinbase trading platform where you can follow up-to-the-minute prices and, when you're ready, buy and sell Bitcoin, Ethereum, or Litecoin.</p>
          <p><a class="btn btn-default" href="https://www.gdax.com" role="button">Visit GDAX &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Bittrex</h2>
          <p>When you're ready to explore more cryptocurrencies, Bittrex provides a trading platform for exchanging various exciting alt-coins.</p>
          <p><a class="btn btn-default" href="https://www.bittrex.com" role="button">Visit Bittrex &raquo;</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
          <h2>Ethereum</h2>
          <p>Ethereum is the world's second-largest coin by market capitalization, and it has reaching applications beyond being a currency. Learn more about it on their website.</p>
          <p><a class="btn btn-default" href="https://www.ethereum.org" role="button">Visit Ethereum &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Ripple</h2>
          <p>The designers of Ripple believe that their coin can modernize the way people move money around the world. Learn more about their initiatives at the link below.</p>
          <p><a class="btn btn-default" href="https://www.ripple.com" role="button">Visit Ripple &raquo;</a></p>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <footer>
      <div class="footer-text">
        <p>&copy; Bloom Positivity Consulting, Inc.</p>
      </div>
    </footer>
  </div>
  </div> <!-- /container -->


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>



  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <!--script src="../../assets/js/ie10-viewport-bug-workaround.js"></script-->

  <script type="text/javascript">
    if (typeof jQuery != 'undefined' && typeof MooTools != 'undefined' ) {
// both present , kill jquery slide for carousel class
(function($) { 
       $(document).ready(function(){
        $('.carousel').each(function(index, element) {
                $(this)[index].slide = null;
               });
         });
 })(jQuery);
}
  </script>

<script>
    var slider4 = document.getElementById("days_out");
    var output4 = document.getElementById("demo5");
    output4.innerHTML = slider4.value;

    slider4.oninput = function() {
      output4.innerHTML = this.value;
    }
</script>


{% endblock %}

